extends layout

block append head
    if isso
        include isso

block content
    .paper
        article
            h1 #{article.meta.title}
            p.meta #{formatDate(article.meta.date)}
            != article.html
    if isso
        #isso-thread.isso-thread
