nav
    .nav-list
        each item in nav
            a.nav-link&attributes(item.attr) #{item.text}

div.header(style=`background-image:url(${firstTruely(oneOf(header.img), assets('header.jpg'))})`)
    .motto
        p.motto-text.upper #{oneOf(header.motto.upper)}
        p.motto-text.lower #{oneOf(header.motto.lower)}