nav
    .nav-list
        each item in nav
            a(href=item.link) #{item.name}

div.header(style=`background-image: url(${assets('header.jpg')})`)
    .motto
        p.upper Talk is cheap
        p.lower Show me the code
