.isso-thread {
    font-size: 16px;
    margin-bottom: 24px;
}

.isso-thread .isso-thread-heading,
.isso-thread .isso-postbox,
.isso-thread .isso-comment {
    padding: 13px;
    border-radius: 2px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}

.isso-thread .isso-thread-heading {
    background-color: #009688;
    color: white;
    margin: 24px 0;
}

.isso-thread .isso-thread-heading:empty::after {
    content: '...';
    user-select: none;
}

.isso-thread .isso-postbox {
    background-color: white;
}

.isso-thread .isso-textarea-wrapper .isso-textarea {
    outline: none;
    min-height: 5em;
    height: 5em;
    box-sizing: content-box;
    width: 100%;
    display: block;
    font-size: 16px;
    resize: vertical;
    padding: 0;
    border: none;
    border-bottom: 2px solid lightgray;
}

.isso-thread .isso-auth-section {
    height: 48px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.isso-thread .isso-auth-section p {
    margin-bottom: 0;
}

.isso-thread .isso-auth-section p label {
    color: grey;
    font-size: 14px;
}

.isso-thread .isso-auth-section p input {
    font-size: 16px;
}

.isso-thread .isso-auth-section .isso-input-wrapper {
    margin: 0 8px 0 0;
}

.isso-thread .isso-auth-section .isso-input-wrapper input {
    border: none;
    border-bottom: 2px solid lightgray;
    outline: none;
    width: 100%;
    background-color: transparent;
}

.isso-thread .isso-textarea-wrapper textarea:focus,
.isso-thread .isso-auth-section .isso-input-wrapper input:focus {
    border-bottom: 2px solid #009688;
}

.isso-thread .isso-notification-section {
    margin-top: 13px;
    user-select: none
}

.isso-thread .isso-notification-section input[type=checkbox] {
    margin-left: 0;
    margin-right: 8px;
}

.isso-thread .isso-post-action input {
    cursor: pointer;
    background-color: #fafafa;
    border: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    padding: 0 16px;
    height: 32px;
    line-height: 32px;
    outline: none;
    transition: 0.2s;
    -webkit-tap-highlight-color: transparent;
}

.isso-thread .isso-post-action input::-moz-focus-inner {
    border: 0;
}

.isso-thread .isso-post-action input:hover {
    background-color: white;
    box-shadow: 0 2px 5px grey;
}

.isso-thread .isso-post-action input:focus {
    background-color: #e1e1e1;
    box-shadow: 0 1px 1px grey;
}

.isso-thread .isso-post-action input[type="submit"] {
    color: white;
    background-color: #009688;
}

.isso-thread .isso-post-action input[type="submit"]:hover {
    background-color: #00aa99;
}

.isso-thread .isso-post-action input[type="submit"]:focus {
    background-color: teal;
}

.isso-thread .isso-comment {
    margin-top: 13px;
    scroll-margin-top: 56px;
    background-color: white;
}

.isso-thread .isso-comment .isso-avatar {
    float: left;
    margin-right: 13px;
}

.isso-thread .isso-comment .isso-avatar,
.isso-thread .isso-comment .isso-avatar img {
    width: 40px;
    height: 40px;
}

.isso-thread .isso-comment .isso-comment-header {
    line-height: 40px;
}

.isso-thread .isso-comment .isso-comment-header .isso-spacer {
    display: inline-block;
    width: 1em;
    text-align: center;
}

.isso-thread .isso-comment .isso-text img {
    max-width: 100%;
}

.isso-thread .isso-comment p code {
    font-size: 85%;
    padding: 2px 4px;
    background-color: #eeeeee;
    border-radius: 2px;
    word-break: normal;
}

.isso-thread .isso-comment pre,
.isso-thread .isso-comment blockquote {
    margin: 16px -13px;
    padding: 13px 20px;
}

.isso-thread .isso-comment pre {
    overflow-x: auto;
    color: #abb2bf;
    background-color: #282c34;
}

.isso-thread .isso-comment blockquote {
    background-color: #eeeeee;
    border-left: 4px solid lightgrey;
}

.isso-thread .isso-comment blockquote p {
    margin: 0;
}

.isso-thread .isso-comment.isso-no-votes>.isso-text-wrapper>.isso-comment-footer>.isso-votes,
.isso-thread .isso-comment .isso-comment-footer .isso-spacer {
    display: none;
}

.isso-thread .isso-comment .isso-comment-footer svg {
    vertical-align: bottom;
    width: 20px;
    height: 20px;
}

.isso-thread .isso-comment .isso-comment-footer .isso-edit,
.isso-thread .isso-comment .isso-comment-footer .isso-cancel,
.isso-thread .isso-comment .isso-comment-footer .isso-delete,
.isso-thread .isso-comment .isso-comment-footer .isso-reply {
    font-weight: bold;
    margin-left: 13px;
}

/* the postbox to replay a comment */

.isso-thread .isso-comment .isso-postbox {
    margin-top: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.isso-thread .isso-postbox.isso-preview-mode {
    background: repeating-linear-gradient(-45deg, #f8f8f8, #f8f8f8 10px, #fff 10px, #fff 20px);
}

.isso-thread .isso-postbox .isso-preview .isso-comment {
    padding: 0;
    margin: 0;
    min-height: 5rem;
    box-shadow: none;
    border-bottom: 2px solid transparent;
    background: transparent;
}

.isso-thread .isso-postbox .isso-preview .isso-comment p:first-child {
    margin-top: 0;
}

.isso-thread .isso-postbox .isso-preview .isso-comment p:empty:only-child {
    margin: 0;
}

.isso-thread .isso-post-action:nth-child(4) {
    order: 1;
    margin-left: 8px;
}

.isso-thread .isso-textarea-wrapper .isso-preview,
.isso-thread .isso-preview-mode .isso-textarea {
    display: none;
}

.isso-thread .isso-preview-mode .isso-preview {
    display: block;
}

.isso-thread .isso-post-action:nth-child(6),
.isso-thread .isso-preview-mode .isso-post-action:nth-child(5) {
    display: none !important;
}

.isso-thread .isso-preview-mode .isso-post-action:nth-child(6) {
    display: inline-block !important;
}

/* comment loader (* Hidden) */

.isso-thread .isso-comment-loader {
    margin-top: 13px;
    text-align: center;
}

.isso-thread .isso-comment-loader a {
    display: block;
}

.isso-thread .isso-comment-loader a::after {
    content: ' ';
    display: inline-block;
    width: 8px;
    height: 8px;
    box-sizing: border-box;
    transform: rotate(-135deg);
    position: relative;
    top: -4px;
    right: -8px;
    margin-left: -8px;
    border-width: 2px;
    border-color: teal;
    transition-duration: 0.3s;
    transition-property: margin, border-color;
}

.isso-thread .isso-comment-loader a:hover::after {
    margin-left: 0;
    border-color: darkorange;
    border-top-style: solid;
    border-left-style: solid;
}

@media screen and (max-width: 630px) {
    .isso-thread {
        margin-left: 16px;
        margin-right: 16px;
        width: calc(100% - 32px);
    }

    .isso-thread .isso-postbox .isso-auth-section {
        display: block;
        height: auto;
    }

    .isso-thread .isso-postbox .isso-auth-section .input-wrapper {
        display: block;
        margin: 13px 0 0 0;
        width: 100%;
    }

    .isso-thread .isso-postbox .isso-auth-section .isso-post-action {
        display: inline-block;
    }

    .isso-thread .isso-post-action:nth-child(4) {
        float: right;
    }
}
