/*   global adjustment   */

body {
    font-family: Roboto, 'Noto Sans', 'Noto Sans CJK SC', 'Source Han Sans CN', 
        'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
    font-size: 16px;
    margin: 0;
    overflow-y: scroll;
    background-color: #dddddd;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: #009688;
    word-break: break-word;
}

a,
a:link,
a:visited {
    text-decoration: none;
    transition: color 0.4s;
}

a:hover {
    color: darkorange;
}

/* nav bar */

nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 3rem;
    width: 100%;
    background-color: #009688;
    opacity: 0.9;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    overflow: auto;
    z-index: 1000;
}

nav .nav-list,
.ft-content {
    display: block;
    height: 100%;
    width: 1140px;
    margin: auto;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

nav .nav-list .nav-link {
    display: inline-block;
    box-sizing: border-box;
    line-height: 3rem;
    color: white;
    height: 100%;
    padding: 0 1em;
    transition: background-color 0.4s;
}

nav .nav-list .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* header */

.header {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 22rem;
    overflow: hidden;
    position: relative;
    background-color: teal;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header .motto {
    position: relative;
    width: 1140px;
    margin-top: 9rem;
    margin-left: calc(50% - 570px);
    margin-bottom: 0;
}

.header .motto .motto-text {
    font-weight: bold;
    margin: 0;
    color: white;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}

.header .motto .upper {
    font-size: 2.2rem;
}

.header .motto .lower {
    font-size: 1.4rem;
    margin-top: 0.5rem;
}

/* elements under header */

/* wrapper of <main> and <aside> */
.content {
    flex-grow: 1;
    position: relative;
    width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

/* main content, against `aside` */
main {
    width: 850px;
}

.tag-tip {
    padding: 0.83rem;
    border-radius: 2px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    background-color: #009688;
    color: white;
    margin: 1rem;
    font-weight: bold;
}

/* something looks like `material paper` */

.paper {
    margin: 1.5rem 0;
    background-color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    padding: 0.83rem;
    box-sizing: border-box;
    border-radius: 2px;
}

.paper .title {
    font-size: 1.5rem;
}

/* bottom pagination, prev/next button */

.pagination {
    margin: 1.5rem 0;
}

.pagination a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #009688;
    border-radius: 100%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    color: white;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
}

.pagination .next {
    float: right;
    margin-bottom: 1.5rem;
}

/* side bar */

aside {
    width: 260px;
}

.side-box {
    background-color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    overflow: hidden;
    margin: 1.5rem 0;
}

.side-box .side-box-header {
    background-color: #2ca499;
    color: white;
    padding: 0.6rem 1rem;
    font-weight: bold;
}

.side-box-item {
    color: #444444;
    overflow: hidden;
    border-bottom: 1px solid #e6e6e6;
    transition: background-color 0.4s;
}

.side-box-item .side-box-item__inner {
    padding: 0.4rem 1rem;
    color: inherit;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.side-box-item:hover {
    background-color: #e6e6e6;
}

.side-box-item:last-child {
    border-bottom: none;
}

/* footer */

.footer {
    border-top: 0.5rem solid #2d2d2d;
    background-color: #1c1c1c;
    padding: 1.5rem 0;
    font-size: 14px;
    color: #999;
}

.footer .ft-content span::after {
    content: ' | ';
    display: inline;
}

.footer .ft-content span:last-child::after {
    content: unset;
}

/* article elements */

article p.more {
    text-align: right;
    font-size: 0.85rem;
    margin-bottom: 0;
}

article header .title {
    margin-top: 0;
    margin-bottom: 1rem;
}

article header .meta {
    color: grey;
    font-size: 0.9em;
    margin: 0;
}

article p {
    line-height: 1.7em;
}

article pre,
article figure,
article blockquote,
article .table-wrapper {
    margin: 1rem -0.83rem;
}

article pre {
    padding: 0.83rem 20px;
}

article p code {
    font-size: 85%;
    padding: 0.15rem;
    background-color: #eeeeee;
}

article pre code,
article p code {
    font-family: 'Roboto Mono', 'Fira Code', 'Monaco', 'Consolas', 
        'Noto Sans Mono', 'Noto Mono', 'Droid Sans Mono', monospace;
}

article figure {
    text-align: center;
}

article figure img {
    display: block;
    margin: auto;
    max-width: 100%;
}

article figure figcaption {
    line-height: 1.6rem;
    font-size: 0.9rem;
    display: inline-block;
    text-align: center;
    color: grey;
    border-bottom: 1px solid lightgrey;
    padding: 0 1rem;
}

article blockquote {
    padding: 0.83rem 20px;
    background-color: #eeeeee;
    border-left: 4px solid lightgrey;
}

article blockquote p {
    margin: 0;
}

article ul,
article ol {
    padding: 0;
    margin-left: 1.2rem;
}

article ul li,
article ol li {
    margin: 0.2rem 0;
}

article .table-wrapper {
    overflow-x: auto;
}

article table {
    margin: auto;
    border-collapse: collapse;
}

article table th,
article table td {
    padding: 0.2em 1em;
}

article table th {
    text-align: left;
    font-weight: normal;
    color: #6b6b6b;
}

article table td {
    border-top: 1px solid #cccccc;
}

article hr {
    background-color: #cccccc;
    border: none;
    height: 1.5px;
    margin: 2rem auto;
    min-width: 175px;
    width: 25%;
}

/* responsive */

/* limit "wrapper" width to 900px */
@media screen and (max-width: 1140px) {
    nav .nav-list,
    .content,
    .ft-content {
        width: 900px;
    }

    main {
        width: 610px;
    }

    .header .motto {
        margin-left: calc(50% - 450px);
    }
}

/* limit "wrapper" width to 610px, two-column <aside> under <main> */
@media screen and (max-width: 940px) {
    nav .nav-list,
    .content,
    aside,
    .ft-content {
        width: 100%;
        max-width: 610px;
    }

    .header .motto {
        margin-left: calc(50% - 305px);
    }

    .content {
        flex-direction: column;
    }

    aside {
        width: 610px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }

    .side-box {
        width: 290px;
        margin-top: 0;
    }

    .footer {
        padding: 1.5rem 1rem;
    }
}

/* "wrapper" width 100%, one-column <aside> under <main> */
@media screen and (max-width: 630px) {
    nav .nav-list,
    main,
    aside,
    .header .motto,
    .ft-content {
        width: 100%;
    }

    .header .motto {
        margin-left: 1rem;
    }

    main {
        margin: 0;
    }

    .paper,
    .side-box,
    .pagination {
        margin: 1rem;
        width: calc(100% - 2rem);
    }

    .side-box,
    .pagination {
        margin-top: 0;
    }

    .pagination .next {
        margin-bottom: 1rem;
    }

    .footer .ft-content span::after {
        content: '';
        color: transparent;
        display: block;
    }
}
