/*   global adjustment   */

body {
    font-family: Roboto, Noto Sans, Noto Sans CJK SC, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
    font-size: 16px;
    margin: 0;
    overflow-y: scroll;
    background-color: #dddddd;
}

a {
    color: #009688;
}

a,
a:link,
a:visited {
    text-decoration: none;
    transition: color 0.4s;
}

a:hover {
    color: darkorange;
}

/* nav bar */

nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 3rem;
    width: 100%;
    background-color: #009688;
    opacity: 0.9;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    overflow: auto;
    z-index: 1000;
}

nav > .nav-list {
    display: block;
    height: 100%;
    width: 1140px;
    margin: auto;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

nav > .nav-list > a {
    display: inline-block;
    box-sizing: border-box;
    line-height: 3rem;
    color: white;
    height: 100%;
    padding: 0 1em;
    transition: background-color 0.4s;
}

nav > .nav-list > a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* header */

.header {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 22rem;
    overflow: hidden;
    position: relative;
    background-color: teal;
    background-size: cover;
    background-attachment: fixed;
}

.header > .motto {
    position: relative;
    width: 1140px;
    margin: 9rem calc(50% - 570px);
    margin-bottom: 0;
}

.header > .motto > p {
    font-weight: bold;
    margin: 8px 0;
    color: white;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}

.header > .motto > .upper {
    font-size: 2.2rem;
}

.header > .motto > .lower {
    font-size: 1.4rem;
}

/* elements under header */

/* the wrapper */
.content {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

/* main content, against `aside` */
main {
    /* TODO: refactor inline-block */
    width: 850px;
    display: inline-block;
    margin-right: 30px;
}

/* something looks like `material paper` */

.paper {
    margin: 1.5rem 0;
    background-color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    padding: 0.83rem;
    box-sizing: border-box;
    border-radius: 2px;
}

.paper .title {
    font-size: 1.5rem;
    color: #009688;
}

.paper a.title:hover {
    color: darkorange;
}

.pagination {
    margin: 1.5rem 0;
}

.pagination a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #009688;
    border-radius: 100%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    color: white;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
}

.pagination .next {
    float: right;
    margin-bottom: 1.5rem;
}

/* side bar */

aside {
    width: 260px;
    display: inline-block;
    right: 0;
    top: 0;
    vertical-align: top;
}

.side-box {
    background-color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    overflow: hidden;
    margin: 1.5rem 0;
}

.side-box .side-box-header {
    background-color: #2ca499;
    color: white;
    padding: 0.6rem 1rem;
    font-weight: 500;
}

.side-box-item {
    color: #444444;
    overflow: hidden;
    border-bottom: 1px solid #e6e6e6;
    transition: background-color 0.4s;
}

.side-box-item > a,
.side-box-item > span {
    padding: 0.4rem 1rem;
    color: inherit;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.side-box-item:hover {
    background-color: #e6e6e6;
}

.side-box-item:last-child {
    border-bottom: none;
}

/* article elements */

article p.more {
    text-align: right;
    font-size: 0.85rem;
    margin-bottom: 0;
}

article h1 {
    margin-top: 0;
    margin-bottom: 1rem;
}

article p.meta {
    color: grey;
    font-size: 0.9em;
    margin: 0;
}

article pre,
article figure,
article blockquote {
    margin: 1rem -0.83rem;
}

article pre {
    padding: 0.83rem 20px;
}

article p code {
    font-size: 85%;
    padding: 0.15rem;
    background-color: #eeeeee;
}

article pre code,
article p code {
    font-family: Roboto Mono, Fira Code, Monaco, Consolas, Noto Sans Mono, Noto Mono, Droid Sans Mono, monospace;
}

article figure {
    text-align: center;
}

article figure img {
    display: block;
    margin: auto;
    max-width: 100%;
}

article figure figcaption {
    line-height: 1.6rem;
    font-size: 0.9rem;
    display: inline-block;
    text-align: center;
    color: grey;
    border-bottom: 1px solid lightgrey;
    padding: 0 1rem;
}

article blockquote {
    padding: 0.83rem 20px;
    background-color: #eeeeee;
    border-left: 4px solid lightgrey;
}

article blockquote p {
    margin: 0;
}

article ul,
article ol {
    padding: 0;
    margin-left: 1.2rem;
}

article ul li,
article ol li {
    padding: 0.2rem 0;
}

article ul li.task-item {
    list-style-type: none;
    margin-left: -1.2rem;
}

article table {
    margin: auto;
    border-collapse: collapse;
}

article table th,
article table td {
    padding: 0.2em 1em;
}

article table th {
    text-align: left;
    font-weight: normal;
    font-size: 1.1em;
    color: #6b6b6b;
    line-height: 1.8em;
}

article table td {
    border-top: 1px solid #cccccc;
    line-height: 1.5em;
}

article hr {
    background-color: #cccccc;
    border: none;
    height: 1.5px;
    margin: 2rem auto;
    min-width: 175px;
    width: 25%;
}

/* responsive */

@media screen and (max-width: 1140px) {
    nav > .nav-list,
    .content {
        width: 900px;
    }

    main {
        width: 610px;
    }

    .header > .motto {
        margin: 9rem calc(50% - 450px);
    }
}

@media screen and (max-width: 940px) {
    nav > .nav-list,
    .content,
    aside {
        width: 100%;
        max-width: 610px;
    }

    .header > .motto {
        margin: 9rem calc(50% - 305px);
    }

    aside {
        width: 610px;
    }

    .side-box {
        width: 290px;
        margin-top: 0;
        display: inline-block;
        vertical-align: top;
    }

    .side-box:nth-of-type(odd) {
        margin-right: 30px;
    }
}

@media screen and (max-width: 630px) {
    nav > .nav-list,
    main,
    aside,
    .header > .motto {
        width: 100%;
    }

    .header > .motto {
        margin: 9rem 1rem;
    }

    main {
        margin: 0;
    }

    .paper,
    .side-box,
    .pagination {
        margin: 1rem;
        width: calc(100% - 2rem);
    }

    .side-box,
    .pagination {
        margin-top: 0;
    }

    .pagination .next {
        margin-bottom: 1rem;
    }

    .side-box:nth-of-type(odd) {
        margin-right: 1rem;
    }
}
